 /* h1{
        color:brown;
    } */

    /* div p{
        color: blue;


    } */

    /* div>p{
        color: brown;
    } */

    /* h1+h2{
        color:brown;
    } */

    h1~h2{
        color: brown;
    }